.main-back{
  width: 100%;
  height: 500px;
  background-image: url(../shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  /* filter: brightness(50%); */
  padding: 1px;

}

.main-title{
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 10px;
}

.sub-title{
  text-align: center;
  color: white;
  font-size: 25px;

}

.button1{
  margin-left: 48%;
  text-align: center;
}