.box{
  width: 200px;
  height: 100px;
  background-color: aqua;
}

%div{
  width: 200px;
  height: 200px;
  padding: 20px;
}

.red{
  @extend %div;
  background-color: red;
}

.green{
  @extend %div;
  background-color: green;
}

.blue{
  @extend %div;
  background-color: blue;
}